body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #333;
    color: white;
    font-size: 30px;
    padding: 1px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

main {
    padding: 10px;
    border-radius: 5px;
    text-align: center; /* Centers the text */
}

main p {
    font-size: 20px; /* Change this value to your preferred size */
}
img {
    width: 40%;
    object-position: center;
}
h2 {
    color: gold;
    font-size: 30px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

td a {
    text-decoration: none;
    color: blue;
}

td a:hover {
    text-decoration: underline;
}
h3 {
    color: gold;
    font-size: 25px;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}
p {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: left;
    font-size: 30px;
}
div {
    color: white;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    font-size: 20px;
}
span p {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}
h5 {
    list-style-type: square;
    text-align: left;
    font-size: 25px;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
}
ol {
    font-size: 25px;
    text-align: left;
    list-style-type: none;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
}
.sidebar-content {
    width: 250px; /* Fixed width for sidebar */
    background-color: #f0f0f0;
    padding: 15px;
    margin: 0;
    font-size: 25px;
}
a {
    color: blue;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    color: red;
    background-color: yellow;
}
ol li {
    color: white;
    font-size: 25px;
    text-align: left;
    list-style-type: square;
    margin: 0;
}
.img {
    width: 50%;
    object-position: center;
}
